@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i');

body, html {
    font-family: 'Fira Sans', sans-serif;
    background: url(../img/escheresque.png);
}

.main-container {
    background: #fff;
}

.hidden {
    display: none;
}

.header {
    background: url(../img/ep_naturalblack.png);
    padding: 30px 20px 10px 20px;
}

.slogan {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin-left: 15px;
}

.error-message {
    color: #ec5840;
    padding-bottom: .8rem;
}

.form-error {
    display: block;
    margin-top: inherit;
    margin-bottom: inherit;
    font-size: inherit;
    font-weight: inherit;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    box-shadow: 0;
    -webkit-transition: none;
    transition: none;
    border-radius: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.callout.info,
.callout.primary {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db
}

.callout.alert {
    color: #fff;
    background-color: #D33C44 !important;
    border-color: #D33C44;
}

.callout.success {
    color: #fff;
    border-color: #18bc9c;
    background-color: #1ad1ad
}

.callout.warning {
    color: #fff;
    border-color: #f39c12;
    background-color: #f39c12
}

.callout.success::before {
    content: "\f058"
}

.callout.alert::before,
.callout.primary::before,
.callout.info::before {
    content: "\f071"
}

.callout.alert::before,
.callout.info::before,
.callout.primary::before,
.callout.success::before {
    font-family: 'Font Awesome 5 Free';
    padding: 0 5px 0 0;
    margin: 0;
    color: #fff;
    font-weight: 600
}

.callout.alert a, .callout.info a, .callout.warning a, .callout.success a {
    color: white;
    text-decoration: underline;
}

.card {
    border: none;
}

.card > .card-body {
    padding: 15px;
}

#upload-files {
    text-align: center;
    padding: 60px;
    background: #eee;
    cursor: pointer;
}

#upload-files.hover {
    background: #3adb76;
    color: #fff;
}

#upload-files::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
    content: '\f019';
}

.not-allowed {
    color: red;
}

.icon::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.icon.upload::before {
    content: '\f093';
}


.success.button {
    color: #fff;
}

.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #3498DB;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin .8s linear infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
.content {
    background: #eee;
}
.media-section {
    text-align: center;
}
.post-title {
    font-weight: 900;
    padding: 0;
    margin:0;
    font-size: 18px;
}
.yaynay-box {
    background: #ccc;

    button {
        font-weight: 900;
        color: #111!important;
        margin: 10px!important;
    }
}
.icon.yay::before {
    content: '\f004';
}
.icon.nay::before {
    content: '\f119';
}
.post-preview {

    margin: 5px 10px;
    border: 1px dashed #ccc;
    padding: 5px;
    .title {
        font-weight: 900;
        margin-top: 10px;

    }
    .description {
        line-height:normal;
        font-size: 13px;
    }

}
.accordion-title {
    font-size: 18px;
    padding: 10px;
    color: #000;
    font-weight: 900;
    margin:0;
}

.top-bar {
    li a{
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
    }
    li a:hover {
        background: #ccc;
    }
}
.video-content {
    width: 100%!important;
    max-width: 810px;
}
.replies {
    padding: 10px;

    .title {
        font-weight: 900;
    }

    .reply {

        border: 2px dashed #aaa;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 0;

        .reply-info {
            font-size: 11px;
            color: #666;
        }

        p {
            margin:0;
            padding:0;
        }
    }
}